

baseUrl=''
imgBaseUrl=''
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY= 
API_IMG_URL= ''

API_BASE_URL=''
GOOGLE_MAP_API_KEY= 




baseUrl='http://192.168.0.137:3030'
API_BASE_URL='http://192.168.0.137:3030'
NEXT_PUBLIC_API_BASE_URL='http://192.168.0.137:3030'
imgBaseUrl=''
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY= ''
API_IMG_URL= 'http://192.168.0.137:3030'

API_GOOGLE_KEY=AIzaSyAjYNFrg7pzrzfodPmtHkYBKmdC_mXhAWI