{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.{page,layout}.{tsx,jsx}",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    },
    {
      "files": ["next.config.*", "*.d.ts"],
      "options": {
        "printWidth": 80,
        "semi": true,
        "trailingComma": "none"
      }
    },
    {
      "files": "src/app/**/*.{ts,tsx}",
      "options": {
        "printWidth": 90
      }
    }
  ]
}
